<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>
    <script>
       var env = <%- env %>;

       window.MAIN_API_URL = env.MAIN_API_URL;
       window.API_GRAPHQL_URL = env.API_GRAPHQL_URL;
       window.API_SUBSCRIPTIONS_URL = env.API_SUBSCRIPTIONS_URL;
     </script>
    <div id="root">
    </div>

    <script src="/build/<%= type %>.bundle.js"></script>
  </body>
</html>
